.leaflet-container {
    height: calc(100vh - 100px);
    width: 100%;
    margin: 0 0;
}


:root {
    --map-tiles-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}
.theme--dark {

    .leaflet-tooltip{
        background-color: #333;
        color: #fff;
    }
    .map-tiles {
        filter:brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
	}
}

