.leaflet-container {
    height: calc(100vh - 100px);
    width: 100%;
    margin: 0 0;
}


:root {
    --map-tiles-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}
.theme--dark {

    .leaflet-tooltip{
        background-color: #333;
        color: #fff;
    }
    .map-tiles {
        filter:brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
	}
    .positionLegend {
        color: #FFF;
        background-color: rgba(0,0,0,0.5);

    }
}
.positionLegend {
    color: #164d54;
    position: absolute;
    padding: 5px;
    bottom: 0;
    left: 0;
    z-index: 1000000;
    font-size: 1.5em;
    font-weight: 500;
    background-color: rgba(255,255,255,0.5);
}

