.favStationElement:hover{
  .theme--dark &{
    background-color:#111
  }
  background-color: #1B6D92;
  transition: background-color 300ms;

  cursor: pointer;
  h3{
    .theme--dark &{
      color:#ccc
    }
    transition: color 300ms;
    color: white;
  }

  p{
    .theme--dark &{
      color:#ccc
    }
    transition: color 300ms;
    color: white;
  }
}

.favStationElement {
  .theme--dark &{
    border-bottom:solid #ccc 2px;
  }
  border-bottom: solid 2px #106b77;
  padding: 4%;

  h3{
    .theme--dark &{
      color:#ccc
    }
    margin-top: 0;
    margin-bottom: 2%;
    color: #063d44;
    font-size: 20pt;
  }

  p{
    .theme--dark &{
      color:#ccc
    }
    margin: 0;
    padding: 0;
    color: #106b77;
  }
}
  
