.navBar{
  .theme--dark & {
    color: #ccc;
    background-color: #333;
  }
  top: 0;
  width: 100%;
  color: #063d44;
  background-color: #1A6C92;

  .loginButton{
    float: right;
  }

  .theme--dark & {

    .form-check-input:checked{
      background-color: #555;
      border-color: #555;
    }
    .form-check-input:focus{
      box-shadow: 0 0 0 0.25rem rgba(100, 100, 100,0.25);
    }
  }
}

.custom-theme-switch{
  display: inline-block;
  margin: 10px;
  float: right;
}


@media screen and (max-width: 700px) {
  .navBar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    width: 100%;
    .loginButton{
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .custom-theme-switch{
      margin: auto;
    }
  }
}
