.filterBar{
  background-color: white;
  z-index: 1001;//map 400 et button 1000
  position: fixed;
  top: 0;
  width: 100%;
  color: #063d44;
  background-color: #eaecec;


  .filter-bar-container {
    border-bottom: solid #063d44 3px;
    padding-left: 20px;

    h2{
      font-size: 20pt;
      font-weight: bolder;
    }
  }

  .subFilter{
    display: inline-block;
    width: 25%;
    padding: 0 10px;

    h3{
      font-size: 14pt;
    }

    li {
      margin-right: 10px;
      font-size: 13pt;
    }
  }

  .slider{
    padding: 0 35px;
  }


  .loginButton{
    float: right;
  }

}

