/* You can add global styles to this file, and also import other style files */
.leaflet-container {
  height: 620px;
  width: 100%;
  margin: 0 auto;
}


.checkboxList li{
  display: inline;
}

.mapDisplayer{
  margin-top: 50px;
  margin-left: 26%;
}

.positionLegend{
  float: right;
}

.sideMenu{
  height: 90%;
  margin-top: 50px;
  width: 26%;
  position: fixed;
  z-index: 2; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
}



.stationList {
  padding-left: 10px;
}

.stationList h1 {
  color: #063d44;
  margin-bottom: 0;
  text-decoration: underline;
}


.stationListElement:hover{
  background-color: #cad1e6;
  cursor: pointer;
}

.stationListElement {
  border-bottom: solid 2px #106b77;
  padding: 5%;
}

.stationListElement h2{
  margin-top: 0;
  margin-bottom: 2%;
  color: #063d44;

}

.stationListElement p{
  margin: 0;
  padding: 0;
  color: #106b77;
}