/* You can add global styles to this file, and also import other style files */

.app-container{
  min-height: 100vh;
}
.checkboxList li{
  display: inline;
}

.positionLegend{
  float: right;
}

body{
  margin: 0;
  padding: 0; 
  min-height: 100vh;
  min-width: 100vw;
  &.dark-body{
    background-color: #333;
  }
}



.buttonStyle{
  .theme--dark &{
    background-color: #555;
  }
  background-color: #1A6C92;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  transition: background-color 300ms;

  &:hover{
    .theme--dark &{
      background-color: #111;
    }
    background-color: #29C0D5;
    cursor: pointer;
  }
}

.buttonStyleRed{
  .theme--dark &{
    background-color: #720a0a;
  }
  background-color: #921a1a;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  transition: background-color 300ms;

  &:hover{
    .theme--dark &{
      background-color: #111;
    }
    background-color: #c04f4f;
    cursor: pointer;
  }
}
.grid-wrapper{
  display: grid;
  grid-template-columns:30% 70%;  
  width: 100%;
}

.leaflet-routing-container{
  max-height: 500px;
  max-width: 450px;
  overflow-y: scroll;
  background-color: rgba(255,255,255,0.6);
}
@media screen and (max-width:1100px) {
  .grid-wrapper{
    display: grid;
    grid-template-columns:45% 55%;  
    width: 100%;
  }
}

@media screen and (max-width:700px) {
  .leaflet-routing-container{
    margin: 10px;
    max-width: 200px;
    max-height: 250px;

  }
  .leaflet-control-zoom{
    visibility:hidden;
  }
  .grid-wrapper{
    grid-template-columns:1fr;  
    .grid-map{
      order: 1;
      .leaflet-container{
        height: 350px;
      }
    }
    .grid-side-menu{
      order: 2;
      .sideMenu{
        height: 100%;
      }
    }
  }
}